[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/deszczkarolina
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/deszczkarolina
	label-Verified = -1..+1 group user/deszczkarolina
	push = group user/deszczkarolina
	read = group user/deszczkarolina
	rebase = group user/deszczkarolina
	removeReviewer = group user/deszczkarolina
	submit = group user/deszczkarolina
[access "refs/heads/*"]
	create = group user/deszczkarolina
	push = +force group user/deszczkarolina
	pushMerge = group user/deszczkarolina
	read = group user/deszczkarolina
[access "refs/tags/*"]
	push = group user/deszczkarolina
	push = +force group user/deszczkarolina
